@import 'variables';

.intro-holder {
  background-image: url('../img/top-grey-bgr.png');
  background-size: cover;

  .intro-text {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .spinemed-logo {
    width: 190px;
    display: block;
    margin: 0 auto 10px;
    @media (min-width: $screen-sm-min) {
      margin: 0 0 10px;
    }
  }

  h2 {
    @include UbuntuMedium;
    color: $dark-blue-txt;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: $font28px;
    line-height: 1.2;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      font-size: $font36px;
      text-align: start;
    }
    @media (min-width: $screen-md-min) {
      font-size: $font42px;
    }
  }

  h3 {
    margin-bottom: 0.25em;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }

  strong {
    @include UbuntuBold;
    font-size: $font16px;
    margin-top: 22px;
    text-align: center;
    text-transform: uppercase;
    max-width: 92%;
    @media (min-width: $screen-sm-min) {
      float: left;
      max-width: 55%;
      margin-right: 3%;
      text-align: start;
    }
  }

  p {
    font-size: $font16px;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }



  ul {
    margin-left: 1em;
    padding-left: 0.5em;
    font-size: $font16px;
    li {
      list-style-type: disc;
      margin: 0.5em 0;
    }
  }

  .healthpi-logo {
    mix-blend-mode: multiply;
    display: block;
    margin: 22px auto;
    @media (min-width: $screen-sm-min) {
      margin: 22px 0 0;
    }
  }
}
